* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

.header-section {
    position: relative;
}

header {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}

.logo {
   
}

#header-img {
    width: 290px;
    height: 45px;
}

#nav-bar {

}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#submit {
    
    padding-top: 7px;
    font-size: 1em;
    height: 40px;
    text-transform: uppercase;
    border: 3px solid #000;
    background: transparent;
    margin-top: 10px;
    text-align: center;
}

.group {
    display: flex;
}

#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    height: 200px;
}

#form-section h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#form-section #form {
    flex-direction: column;
}