* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

.header-section {
    position: relative;
}

header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    
}

#header-img {
    width: 290px;
    height: 45px;
}

#nav-bar {

}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#form-section {
    text-align: center;
}

#form-section #email {
    background-color: #fff;
    width: 200px;
    height: 20px;
}

#submit a {
    text-decoration: none;
    color: #000;
}

#submit {
    background-color: #F7FE2E;
    box-sizing: border-box;
    font-weight: bold;
    padding: 3px;
    width: 150px;
    height: 35px;
    border: none;
    text-align: center;
}

#submit:hover {
    background-color: #FFBF00;
}

#form-section {
     text-align: center;
}

#form {
    display: flex;
   flex-direction: column;
   padding-top: 10px;
  
}